* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #24353f;
}

h1 {
  color: #17a2b8;
}

.group {
  box-shadow: 1px 1px 20px #000;
  transition: .5s ease;
}
.group:hover{
  box-shadow: 1px 1px 20px #fff;

}
p {
  color: #fff;
}

p a {
  color: #fff;
  transition: 0.3s ease;
  padding: 0 5px;
}

p a:hover {
  color: #17a2b8;
}

/* Eyes Style */
#eyes {
  padding-top: 5%;
  color: #fff;
}

#eyes .eye-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.eye-container .eye {
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #f5af19,
    inset 0 0 25px #f5af19;
}

.eye-container .eye::before {
  content: "";
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  border: 10px solid #17a2b8;
  box-sizing: border-box;
}